/* ------------------------------
  メニュー
------------------------------*/
.header__menu-item {
  font-weight: 700;
  font-family: var(--font-heading-family);
}

/* ------------------------------
  アイコン
------------------------------*/
.header__icons {
  padding-right: 0;
}

.header__icon--cart {
  margin-right: 0;
}